* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Montserrat, sans-serif;
    background-color: #31344F;
}

:root {
    --primary-color: #31344F;
    --secondary-color: #404263;
    --complimentary-color: #88BFB5;
    --contrast-color: #F2E527;
    --light-color: #D2A9D9;
}

.mycontainer {
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

.firstRow .introduction{
    padding-left: 2%;
    margin-top: 14%;
    color: #E3E9ED;
}
.firstRow .introCard{
    margin-top: 6%;
    height: 500px;
    background-color: rgba(64,66,99,0);
    padding: 0;
}

#first h5{
    color: #A3A9AD;
}

.introCardContent{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 30px;
    top: 0;
    right: 10%;
    border-radius: 0;
    background-color: rgba(174,176,259,.07);
}
.cardRow{
    width: 100%;
}
.cardRow h4{
    color: #E3E9ED;
}

#myImage{
    border-radius: 50%;
    margin-top: 30%;
    margin-bottom: 30%;
    width: 50px;
    height: 50px;
    background: url("../img/Sohaib.jpg") no-repeat center center;
    background-size: cover;
}

#myImage1{
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: url("../img/Sohaib.jpg") no-repeat center center;
    background-size: cover;
}

#socialContact{
    position: absolute;
    bottom: 6%;
}

.contactMe{
    position: absolute;
    bottom: 2%;
    width: 100%;
    left: 0;
}

.contactMe > div > div{
    width: 46px;
    height: 30px;
    margin-top: 10px;
    display: inline-block;
}

.contactMe .contacticon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ligne{
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #947fee, #ba71de, #d762c7, #ec54ac, #f94a8e);
    margin-bottom: 90%;
}
.ligne1{
    width: 90%;
    position: absolute;
    margin-top: 10px;
    left: 5%;
    height: 1px;
    background-image: linear-gradient(to right, #947fee, #ba71de, #d762c7, #ec54ac, #f94a8e);
}

button.button {
    border-radius: 0;
    padding: 1rem;
    font-size: .9rem;
    padding: .6rem 1.8rem;
    color: #E3E9ED;
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #947FEE, #F94A8E);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #31344F inset;
}

button.button > b{
    background: #E3E9ED;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button.button:hover {
    box-shadow: none;
}

.nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.nav {
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5%;
    background: var(--secondary-color);
}

.nav .li {
    width: 100%;
    display:block;
    height:45px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center; /*new*/
}
.nav li {
    display:block;
    height:30px;
    margin-top: 10px;
    text-align: center; /*new*/
}

.nav > img {
    margin-top: 2px;
}

.nav li b {
    display: none;
}
.nav a:hover {
    color: #fff;
}
.nav a:hover img {
    display: none;
}
.nav a:hover b {
    padding-top: 5px;
    font-size: 12px;
    display: block;
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first, #second, #third, #fourth {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
}

.sectionContainer{
    margin-left: 5%;
    height: 100%;
    width: 100%;
    background: rgba(49,52,79,.85);
}

.section4{
    background: rgba(49,52,79,.75);
}

@keyframes fadeIn {
    100% { opacity:1 }
}










/* 3D box*/

@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
}

@keyframes spincube {
    from,to {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    33% {
        -moz-transform: rotateY(-90deg) rotateZ(90deg);
        -ms-transform: rotateY(-90deg) rotateZ(90deg);
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        -moz-transform: rotateY(-180deg) rotateZ(90deg);
        -ms-transform: rotateY(-180deg) rotateZ(90deg);
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        -moz-transform: rotateY(-270deg) rotateX(90deg);
        -ms-transform: rotateY(-270deg) rotateX(90deg);
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

.cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;

    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
}

.cubespinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(70,70,105,.87);
    line-height: 120px;
    text-align: center;
    font-size: 100px;
}

.cubespinner .face1 {
    -webkit-transform: translateZ(60px);
    -moz-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
}
.cubespinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) translateZ(60px);
    transform: rotateY(90deg) translateZ(60px);
}
.cubespinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}
.cubespinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}
.cubespinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}

.cubespinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(60px);
    -moz-transform: rotateX(-90deg) translateZ(60px);
    -ms-transform: rotateX(-90deg) translateZ(60px);
    transform: rotateX(-90deg) translateZ(60px);
}

.webdev .face1 > div{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: url("../img/languages/html.png") no-repeat center center;
    background-size: cover;
}
.webdev .face2 > div{
    position: absolute;
    width: 86%;
    height: 88%;
    left: 7%;
    top: 7%;
    background: url("../img/languages/CSS3_logo_and_wordmark.svg.png") no-repeat center center;
    background-size: cover;
}
.webdev .face3 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/javascript.png") no-repeat center center;
    background-size: cover;
}
.webdev .face4 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/jquery.png") no-repeat center center;
    background-size: cover;
}
.webdev .face5 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/wordpress.png") no-repeat center center;
    background-size: cover;
}
.webdev .face6 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/react.png") no-repeat center center;
    background-size: cover;
}



.programming_languages .face1 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/kotlin.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face2 > div{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: url("../img/languages/java.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face3 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/Android.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face4 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/python.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face5 > div{
    position: absolute;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    background: url("../img/languages/R_logo.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face6 > div{
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 15%;
    background: url("../img/languages/php.png") no-repeat center center;
    background-size: cover;
}
/*--------------------- */

.wrapper_skills {
    position: absolute;
    top: 10%;
    left: 39%;
    width: 27%;
    height: 75%;
    perspective: 900px;
}

.container_skills {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px #444;
    animation: entry 1s linear 1;
    background: #404263;
}

#c0 {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 300;
    box-shadow: 0px 20px 100px #444;
}
#c0:hover{
    top: -3%;
}

#c1 {
    box-shadow: 0px 20px 100px #444;
    left: 100%;
    z-index: 0;
}

#c2 {
    left: -100%;
    z-index: 0;
    box-shadow: 0px 20px 100px #444;
}

.container_skills:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    top: 0;
}


.story {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0);
    z-index: 30;
}

#s1 {
    background: rgba(0,0,0,0);
}

#s2 {
    background: rgba(0,0,0,0);
}

.info_skills {
    position: absolute;
    top: 10%;
}

.container_skills h3 {
    text-align: center;
    text-shadow: 0px 0px 10px #eee;
    color: #eee;
    letter-spacing: 2px;
}

.container_skills p {
    font-size: 14px;
    color: #fff;
    padding: 0px 20px 20px 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
}

.skills_animation{
    position: absolute;
    height: 50%;
    width: 95%;
    padding-left: 20%;
    padding-right: 20%;
    top: 0;
    left: 5%;

}

.skills_animation > div{
    position: absolute;
    width: 20%;
    height: 100%;

}

