* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Montserrat, sans-serif;
    background-color: #31344F;
}

:root {
    --primary-color: #31344F;
    --secondary-color: #404263;
    --complimentary-color: #88BFB5;
    --contrast-color: #F2E527;
    --light-color: #D2A9D9;
}

.mycontainer {
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

.firstRow .introduction{
    padding-left: 2%;
    margin-top: 14%;
    color: #E3E9ED;
}
.firstRow .introCard{
    margin-top: 6%;
    height: 500px;
    background-color: rgba(64,66,99,0);
    padding: 0;
}

#first h5{
    color: #A3A9AD;
}

.introCardContent{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 30px;
    top: 0;
    right: 10%;
    border-radius: 0;
    background-color: rgba(70,70,115,.25);
}
.cardRow{
    width: 100%;
}
.cardRow h4{
    color: #E3E9ED;
}

#myImage{
    border-radius: 50%;
    margin-top: 30%;
    margin-bottom: 30%;
    width: 50px;
    height: 50px;
    background: url("../img/Sohaib.jpg") no-repeat center center;
    background-size: cover;
}

#myImage1{
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: url("../img/Sohaib.jpg") no-repeat center center;
    background-size: cover;
}

#socialContact{
    position: absolute;
    bottom: 6%;
}

#socialContact >li {
    cursor: pointer;
}
#socialContact > li > img:hover{
    height: 30px;
    width: 30px;
}

.contactMe img:hover {
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin-top: -8px;
}
.contactMe{
    position: absolute;
    bottom: 2%;
    width: 100%;
    left: 0;
}

.contactMe > div > div{
    width: 46px;
    height: 30px;
    margin-top: 10px;
    display: inline-block;
}

.contactMe .contacticon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.versionRightLigne{
    position: absolute;
    bottom: 30px;
    left: 70px;
}
.versionRight{
    position: absolute;
    left: 80px;
    bottom: 20px;
    color: #E3E9ED;
    font-weight: lighter;
    font-style: italic;
}


.ligne{
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #947fee, #ba71de, #d762c7, #ec54ac, #f94a8e);
    margin-bottom: 90%;
}
.ligne1{
    width: 90%;
    position: absolute;
    margin-top: 10px;
    left: 5%;
    height: 1px;
    background-image: linear-gradient(to right, #947fee, #ba71de, #d762c7, #ec54ac, #f94a8e);
}

button.button {
    border-radius: 0;
    padding: 1rem;
    font-size: .9rem;
    padding: .6rem 1.8rem;
    color: #E3E9ED;
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #947FEE, #F94A8E);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #31344F inset;
}

button.button > b{
    background: #E3E9ED;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button.button:hover {
    box-shadow: none;
}

.li:first-child{
    background: #31344F;
}

.nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.nav {
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5%;
    border-right: 1px solid #31344F;
    background: var(--secondary-color);
}

.nav .li {
    width: 100%;
    display:block;
    height:45px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center; /*new*/
}
.nav li {
    display:block;
    height:30px;
    margin-top: 10px;
    text-align: center; /*new*/
}

.nav > img {
    margin-top: 2px;
}

.nav li b {
    display: none;
}
.nav a:hover {
    color: #fff;
}
.nav a:hover img {
    display: none;
}
.nav a:hover b {
    padding-top: 5px;
    font-size: 12px;
    display: block;
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 ,section:target h2,section:target h3,section:target h4,section:target h5,section:target h6,section:target p,section:target a,section:target b,section:target img {
    opacity: 0;
    animation: 2s fadeIn forwards .7s;
}

#first, #second, #third, #fourth {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
}

.sectionContainer{
    margin-left: 5%;
    height: 100%;
    width: 100%;
    background: rgba(49,52,79,.85);
}

.section4{
    background: rgba(49,52,79,1);
}

@keyframes fadeIn {
    100% { opacity:1 }
}
.myImageContainer{
    background-color: rgba(70,70,115,.3);
}
#shortIntro{
    background-color: #404263;
}










/* 3D box*/

@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
}

@keyframes spincube {
    from,to {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    33% {
        -moz-transform: rotateY(-90deg) rotateZ(90deg);
        -ms-transform: rotateY(-90deg) rotateZ(90deg);
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        -moz-transform: rotateY(-180deg) rotateZ(90deg);
        -ms-transform: rotateY(-180deg) rotateZ(90deg);
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        -moz-transform: rotateY(-270deg) rotateX(90deg);
        -ms-transform: rotateY(-270deg) rotateX(90deg);
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

.cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;

    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
}

.cubespinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(70,70,105,.87);
    line-height: 120px;
    text-align: center;
    font-size: 100px;
}

.cubespinner .face1 {
    -webkit-transform: translateZ(60px);
    -moz-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
}
.cubespinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) translateZ(60px);
    transform: rotateY(90deg) translateZ(60px);
}
.cubespinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}
.cubespinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}
.cubespinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}

.cubespinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(60px);
    -moz-transform: rotateX(-90deg) translateZ(60px);
    -ms-transform: rotateX(-90deg) translateZ(60px);
    transform: rotateX(-90deg) translateZ(60px);
}

.webdev .face1 > div{
    position: absolute;
    width: 70%;
    height: 75%;
    left: 15%;
    top: 12%;
    background: url("../img/languages/html.png") no-repeat center center;
    background-size: cover;
}
.webdev .face2 > div{
    position: absolute;
    width: 70%;
    height: 75%;
    left: 15%;
    top: 12%;
    background: url("../img/languages/CSS3_logo_and_wordmark.svg.png") no-repeat center center;
    background-size: cover;
}
.webdev .face3 > div{
    position: absolute;
    width: 70%;
    height: 75%;
    left: 15%;
    top: 12%;
    background: url("../img/languages/javascript.png") no-repeat center center;
    background-size: cover;
}
.webdev .face4 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/jquery.png") no-repeat center center;
    background-size: cover;
}
.webdev .face5 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/wordpress.png") no-repeat center center;
    background-size: cover;
}
.webdev .face6 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/react.png") no-repeat center center;
    background-size: cover;
}



.design .face1 > div{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: url("../img/languages/adobe_xd.png") no-repeat center center;
    background-size: cover;
}
.design .face2 > div{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: url("../img/languages/figma-tool.png") no-repeat center center;
    background-size: cover;
}
.design .face3 > div{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: url("../img/languages/adobe_ae.png") no-repeat center center;
    background-size: cover;
}
.design .face4 > div{
    position: absolute;
    width: 76%;
    height: 76%;
    left: 14%;
    top: 15%;
    background: url("../img/languages/sothink_logo_make_logo.png") no-repeat center center;
    background-size: cover;
}
.design .face5 > div{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: url("../img/languages/adobe_xd.png") no-repeat center center;
    background-size: cover;
}
.design .face6 > div{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: url("../img/languages/adobe_illustrator.png") no-repeat center center;
    background-size: cover;
}


.programming_languages .face1 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/kotlin.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face2 > div{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: url("../img/languages/java.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face3 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/Android.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face4 > div{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: url("../img/languages/python.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face5 > div{
    position: absolute;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    background: url("../img/languages/R_logo.png") no-repeat center center;
    background-size: cover;
}
.programming_languages .face6 > div{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: url("../img/languages/c.png") no-repeat center center;
    background-size: cover;
}

/*--------------------- */

.wrapper_skills {
    position: absolute;
    top: 10%;
    left: 39%;
    width: 27%;
    height: 75%;
    perspective: 900px;
}

.container_skills {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px #445;
    animation: entry 1s linear 1;
    background: #404263;
}

#c0 {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 300;
    box-shadow: 0px 20px 100px #445;
}
#c0:hover{
    top: -3%;
}

#c1 {
    box-shadow: 0px 20px 100px #445;
    left: 100%;
    z-index: 0;
}

#c2 {
    left: -100%;
    z-index: 0;
    box-shadow: 0px 20px 100px #445;
}

.container_skills:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    top: 0;
}


.story {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0);
    z-index: 30;
}

.story > div{
    position: absolute;
    width: 50%;
    height: 84%;
    top: 16%;
}
.story > div:nth-child(2){
    width: 100%;
    left: 0;
    padding: 5px 5px 10px 30px;
}
.story > div:nth-child(2) > ul > li> img:first-child{
    margin-top: -5px;
}
.story > div:nth-child(2) > ul >li{
    margin-left: 0px;
}
.story > div:last-child{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    right: 0;
    padding: 5px 30px 10px 5px;
}
.backend_title{
    padding: 15px 0 0 0;
}
.story > div > ul{
    color: #A3A9AD;
    text-transform:capitalize;
    list-style-type: none
}

.story > div > ul> li{
    margin-top: 5px;
}
.title_h5, .title_h6{
    visibility: hidden;
}
.story > div:last-child > ul .img{
    margin-top: -5px;
    margin-left: 3px;
}

.container_skills h4 {
    margin-top: 8%;
    text-align: center;
    text-shadow: 0px 0px 1px #eee;
    color: #eee;
    letter-spacing: 2px;
    padding-bottom: 3%;
}
.container_skills h5 {
    text-align: left;
    text-shadow: 0px 0px 1px #eee;
    color: #eee;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.container_skills h6 {
    text-align: left;
    text-shadow: 0px 0px 1px #eee;
    color: #eee;
    letter-spacing: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.skills_animation{
    position: absolute;
    height: 50%;
    width: 95%;
    padding-left: 20%;
    padding-right: 20%;
    top: 0;
    left: 5%;

}

.skills_animation > div{
    position: absolute;
    width: 20%;
    height: 100%;

}
.socialMediaPhone{
    display: none;
}





.resume{
    width: 97%;
    margin-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.leftSide{
    margin-bottom: 20px;
    padding: 0 0 0 0 ;

}
.rightSide{
    padding-left: 20px;
}
.rightSide > div {
    padding: 0;
}
.rightSide > div > div{
    margin-bottom: 20px;
    background-color: rgba(70,70,115,.3);
    padding: 3%;
}

#myImage2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: url("../img/Sohaib.jpg") no-repeat center center;
    background-size: cover;
}

.resume  h1{
    color: #fff;
}
.resume h3,.resume h4{
    color: #fff;
    text-transform:capitalize;
    padding-bottom: 5px;
}
.resume h5{
    text-transform:capitalize;
    color: #fff;
    padding-top: 25px;
}
.resume h6{
    color: #E3E9ED;
    margin-left: 5px;
}
.resume p{
    color: #E3E9ED;
}
.resume a{
    font-size: 14px;
    margin-left: 5px;
    padding-top: 25px;
    color: #C3C9CD;
}

.ligne2{
    width: 85%;
    margin-top: 0;
    margin-bottom: 15px;
    height: 1px;
    background-image: linear-gradient(to right, #947fee, #ba71de, #d762c7, #ec54ac, #f94a8e);
}
.locationAndDate{
    float:right;
    margin-left: 5px;
}
.locationAndDate1{
    display: none;
}
.leftSide > div{
    padding: 20px;
    background: #404263;
    margin-bottom: 20px;
}
.leftSide>div>ul{
    list-style-type: none;
}
.leftSide>div>ul img{
    margin-top: -5px;
}

.leftSide>div>ul>li{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.resume b{
    margin-left: 10px;
    color: #E3E9ED;
    font-weight: initial;
}

.ligne3{
    width: 85%;
    margin-top: -2px;
    margin-bottom: 25px;
    height: 1px;
    background-image: linear-gradient(to right, #947fee, #ba71de, #d762c7, #ec54ac, #f94a8e);
}
#competencies b, #languages b{
    margin-left: 0;
}
#competencies li, #languages li{
    width: 100%;
}
.competencies_star{
    float: right;
    margin-left: 3px;
}

.phone_navbar{
    position: fixed; top: 0;left: 0; width: 100%; z-index: 100;
    display: none;
}

/*  section four  */
#contactmeContainer0{
    height: 50%;
    width: 60%;
    top: -15%;
    left: 10%;
    position: absolute;
}
#contactmeContainer1{
    height: 50%;
    width: 60%;
    top: 35%;
    left: -5%;
    position: absolute;
}
#contactmeContainer2{
    height: 50%;
    width: 60%;
    top: 45%;
    left: 20%;
    position: absolute;
}
#contactmeContainer3{
    height: 50%;
    width: 60%;
    top: 55%;
    left: 45%;
    position: absolute;
}
#contactmeContainer4{
    height: 50%;
    width: 60%;
    top: 65%;
    left: 70%;
    position: absolute;
}
.contactmeContainer >ul{
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    transform: rotate(-25deg) skew(25deg);
}
.contactmeContainer >ul>li{
    position: relative;
    list-style: none;
    width: 100px;
    height: 100px;
    margin: 0 50px;
}
.contactmeContainer >ul>li:before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100px;
    height: 20px;
    background: #2a2a40;
    transform-origin: top;
    transform: skewX(-41deg);
}
.contactmeContainer >ul>li:after{
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    width: 18px;
    height: 100px;
    background: #2a2a40;
    transform-origin: right;
    transform: skewY(-49deg);
}
.contactmeContainer >ul>li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #404263;
    color: rgba(255,255,255,0.6);
    font-size: 40px !important;
}
.contactmeContainer >ul>li:hover span{
    z-index: 10000;
    transition: 0.5s;
    color: white;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}
.contactmeContainer >ul>li:hover span:nth-child(5){
    transform: translate(80px, -80px);
    opacity: 1;
}
.contactmeContainer >ul>li:hover span:nth-child(4){
    transform: translate(60px, -60px);
    opacity: 0.8;
}
.contactmeContainer >ul>li:hover span:nth-child(3){
    transform: translate(40px, -40px);
    opacity: 0.6;
}
.contactmeContainer >ul>li:hover span:nth-child(2){
    transform: translate(20px, -20px);
    opacity: 0.4;
}
.contactmeContainer >ul>li:hover span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.2;
}

#contactmeContainer0 >ul>li:nth-child(1):hover span{
    background: #55acee;
}

#contactmeContainer1 >ul>li:nth-child(1):hover span{
    background: #e4405f;
}
#contactmeContainer1 >ul>li:nth-child(2):hover span{
    background: #25D366;
}
#contactmeContainer1 >ul>li:nth-child(3):hover span{
    background: #e4405f;
}
#contactmeContainer1 >ul>li:nth-child(4):hover span{
    background: #3b5999;
}

#contactmeContainer2 >ul>li:nth-child(1):hover span{
    background: #e4405f;
}
#contactmeContainer2 >ul>li:nth-child(2):hover span{
    background: #55acee;
}
#contactmeContainer2 >ul>li:nth-child(3):hover span{
    background: #0077b5;
}
#contactmeContainer2 >ul>li:nth-child(4):hover span{
    background: #3b5999;
}

#contactmeContainer3 >ul>li:nth-child(1):hover span{
    background: #3b5999;
}
#contactmeContainer3 >ul>li:nth-child(2):hover span{
    background: #55acee;
}
#contactmeContainer3 >ul>li:nth-child(3):hover span{
    background: #e4405f;
}
#contactmeContainer3 >ul>li:nth-child(4):hover span{
    background: #0077b5;
}

#contactmeContainer4 >ul>li:nth-child(1):hover span{
    background: #e4405f;
}

#mailBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    border: 0 transparent;
    border-radius: 25px;
    padding: 1rem;
    font-size: .95rem;
    padding: .6rem 2.8rem;
    color: #E3E9ED;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #947FEE, #F94A8E);
}
#mailIcon{
    position: absolute;
    top: 25px;
    right: 160px;
    height: 40px;
    width: 40px;
    background-color: #31344F;
    border-radius: 20px;
}
#mailIcon>img{
    margin-left: 8px;
    margin-top: 8px;
}

#mailFormContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(35,35,59,.75);
    display: none;
}
#mailDiv{
    margin: 150px 10px 10px 10px;
    padding: 20px 20px 70px 20px;
    background-color: #404263;
    box-shadow: 0px 0px 20px 0px rgba(30,30,50,.95);
    color: white;
}

#mailForm{
    color: white;
}
#quitForm{
    float: right;
    margin-top: 10px;
}

#mailBtnPhone{
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #947FEE, #F94A8E);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(30,30,50,.9);
    display: none;
}
#mailBtnPhone>img{
    margin-top: 15px;
    margin-left: 15px;
}

/*  small devices  */
@media only screen and (max-width: 992px) {

    .nav{
        display: none;
    }
    .phone_navbar{
        display: block;
        box-shadow: 0px -1px 20px 0px rgba(30,30,60,.75);
    }
    .sectionContainer{
        margin-left: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .introCardContent{
        right: 0;
    }
    .introCard{
        margin: 20px;
    }
    .introduction{
        top: 30px;
        margin: 60px 20px 50px 20px;
    }
    .phone_navbar_container{
        background-color: #404263;
    }
    .rightSide{
        padding-left: 0;
        padding-right: 0;
    }
    .resume .leftSide{
        margin-top: 60px;
    }
    .secondPart .leftSide{
        margin-top: 0;
    }
    .firstRow{
        padding-right: 4%;
    }
    #contactmeContainer0,#contactmeContainer1,#contactmeContainer2,#contactmeContainer3,#contactmeContainer4,#mailBtn{
        display: none;
    }
    #quitForm{
        border-radius: 20px;
    }
    .section4{
        background: rgba(49,52,79,.75);
    }
    #mailDiv{
        border-radius: 20px;
    }
    .versionRightLigne{
        bottom: 30px;
        left: 0;
    }
    .versionRight{
        left: 10px;
        bottom: 20px;
    }
    .socialMediaPhone{
        margin: 150px 30px 30px 30px;
        display: flex;
    }
    .socialMediaPhone div{
        display: flex;
    }
    .socialMediaPhone > div > div{
        padding: 40px;
    }
    .socialMediaPhone img{
        width: 50px;
        height: 50px;
        margin: auto;
        cursor: pointer;
    }
    .socialMediaPhone img:hover{
        width: 90px;
        height: 90px;
    }
}




/*  phone devices  */
@media only screen and (max-width: 768px) {

    .locationAndDate{
        display: none;
    }
    .locationAndDate1{
        display: inline;
        margin-right: 0;
    }
    .locationAndDate1_img{
        margin-top: -5px;
    }
    .resume h6{
        margin-left: 0;
    }
    .resume div{
        border-radius: 15px;
    }
    .resume{
        padding-left: 0;
        padding-right: 15px;
    }
    .myImageContainer{
        background-color: #404263;
    }
    #shortIntro{
        background-color: #404263;
    }
    .shortIntroParent{
        margin-top: -60px;
    }
    .myImageContainerParent{
        margin-top: 10px;
    }
    #myImage2{
        margin: 30px auto 50px auto;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        background: url("../img/Sohaib.jpg") no-repeat center center;
        background-size: cover;
    }
    #shortIntro > h1{
        font-size: 30px;
        text-align: center;
        padding-bottom: 5px;
    }
    #shortIntro > h3{
        font-size: 22px;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }
    #shortIntro > p{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .rightSide > div > div{
        margin-bottom: 20px;
        background-color: #404263;
        padding: 6%;
    }
    #mailBtnPhone{
        display: block;
    }
}